*{
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    text-transform: uppercase; 
}

.container{
    display: grid;
    border: 1px solid #000;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

p{
    font-size: 0.5em;
    letter-spacing: 5px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

h1{
    font-size: 4em;
    letter-spacing: 20px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.extra-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2 / span 1;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.date{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.admit{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.price{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

h3{
    text-transform: lowercase;
    font-size: 1em;
    font-weight: normal;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

img{
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    display: block;
    margin: auto;
}


@media screen and (max-width: 600px){
    .container{
        display: grid;
        border: 1px solid #000;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 2fr 1fr;
        justify-items: center;
    }
    
    .basic{
        display: grid;
        background-color: black;
        grid-column: 1 / span 1;
        grid-row: 1fr 1fr;
        width: 100%;
    }

    .basic p{
        font-size: 0.5em;
        color: white;
        text-align: center;
        letter-spacing: 5px;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .basic h1{
        font-size: 2em;
        color: white;
        text-align: center;
        letter-spacing: 10px;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    img{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        display: block;
        margin: auto;
    }

    h2{
        font-size: 0.8em;
        letter-spacing: 5px;
        margin: 0;
        padding: 20px;
        border: 1px solid;
        width: 100%;
    }
    
    .extra-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 3 / span 1;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .extra-info .date{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        text-align: center;
    }
    
    .extra-info .admit{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        text-align: center;
    }
    
    .extra-info .price{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        text-align: center;
    }
    
    h3{
        display: none;
    }
}
