*{
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    text-transform: uppercase; 

}

.container{
    display: grid;
    border: 1px solid #000;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr 1fr;
    justify-items: center;
}

.background{
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    padding-top: 0px;
    margin-left: 5px;
    opacity: 0.5;
    max-height: 430px;
    max-width: 100%;
}

p{
    font-size: 10px;
    letter-spacing: 5px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

h1{
    font-size: 70px;
    letter-spacing: 20px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

h2{
    font-size: 20px;
    letter-spacing: 5px;
}

.date{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.admit{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.price{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

h3{
    text-transform: lowercase;
    font-size: 15px;
    font-weight: normal;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}

img{
    padding-top: 30px;
    grid-column: 4 / span 1;
    grid-row: 1 / span 3;
}
